.specificsContainer{
	display: flex;
	justify-content: center;
}

.last {
	width: 50%;
}

.item {
	padding: 10px;
	margin: 20px;
	flex: 1 0 45%;
}

.item img {
	border-radius: 3px;
}

.category{
  margin: 25px 0 10px 10px;
  padding-left:10px;
  border-left: 10px solid #09f;
}

.description{
	text-decoration: none;
	color:#333333;
	padding-left:10px;
}
