.specificsContainer{
	display: flex;
	flex-wrap: wrap;
	
}

.last {
	width: 50%;
}

.item {
	width: 50%;
	background-color: yellow;
}

.item img {
	border-radius: 3px;
}

.category{
  margin: 25px 0 10px 10px;
  padding-left:10px;
  border-left: 10px solid #09f;
}

.description{
	text-decoration: none;
	color:#333333;
	padding-left:10px;
}
