.specificsContainer{
	display: flex;
	justify-content: center;
}

.last {
	width: 100%;
}


.item {
	padding: 10px;
	margin:20px;

	flex-grow: 1;
  	flex-shrink: 1;
  	flex-basis: 0;
}

.item img {
	border-radius: 3px;
}

.lastImg {
	float: left;
	margin-right: 20px;
}


.category{
	    overflow: hidden;
  margin: 25px 0 10px 10px;
  padding-left:10px;
  border-left: 10px solid #09f;
}

.description{
	overflow: hidden;
	text-decoration: none;
	color:#333333;
	padding-left:10px;
}
